.fa-square-whatsapp{
font-size: 150px;
color: rgb(21, 216, 21);
}
img{
    height: 130px;
}
.fa-square-twitter{
    font-size: 150px;
}
.fa-facebook{
    font-size: 150px;
}
.fa-square-snapchat{
    font-size: 150px;
    color: yellow;
}